.blockDimensionsCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 50;
}

.blockAppearanceLogiIn{
    width: 440px;
    height: 591px;
    border-radius: 18px;
    background: #E7EBE8;
}

.blueSquare{
    margin: 50px 173px 30px 173px;
    width: 94px;
    height: 94px;
    background: #52B7EF;
    border-radius: 8px;
}

.SupplierPortalText{
    margin: 30px 0px;
    text-align: center;
    width: 100%;
    height: 23px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}

.emailLognIn{
    margin: 0px 50px 0px 50px;
    padding: 13px 0px 13px 20px;
    width: 340px;
    height: 48px;
    background: #D3D3D3;
    border-radius: 4px;
    border: 0;
}

.passwordLognIn{
    margin: 30px 50px 0px 50px;
    padding: 13px 0px 13px 20px;
    width: 340px;
    height: 48px;
    background: #D3D3D3;
    border-radius: 4px;
    border-color: #D3D3D3; 
    border: 0; 
}

.RememberUsername{
    margin: 8px 10px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 22px;
    color: #626663;
}

.buttonSignUp{
    margin: 30px 115px 0px 115px;
    width: 210px;
    height: 48px;
    background: #76DE37;
    border-radius: 8px;
    border-color: #76DE37;
    border: 0;
}

.CreateAccount{
    margin: 33px 0px 0px 0px;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    line-height: 22px;
    color: #333333;
    width: 100%;
    text-decoration: none;
}



/*start Radio button - Remember Username */
.radioLognInBlock{
    padding: 20px 0px 0px 50px;
    display: flex;
}

.radioLognInBlock > .radioLognIn {
    grid-column: 1 / 1;
    overflow: hidden;
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    font: inherit;
    letter-spacing: unset;
    word-spacing: unset;
    line-height: 1;
    text-shadow: none;
    text-align: unset;
    writing-mode: unset;
    text-rendering: unset;
    text-indent: 0;
    color: inherit;
    text-transform: none;
    background-color: unset;
    padding: 0;
    border: 1px solid #626663;
    border-radius: 4px;
    box-sizing: unset;
    box-shadow: none;
    outline: none;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  .radioLognInBlock > input:nth-of-type(2) {
    border-radius: 10px;
  }
  
  .radioLognInBlock > input::after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .radioLognInBlock > input:first-child::after {
    width: 10px;
    height: 18px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    box-sizing: border-box;
    margin-top: -3px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .radioLognInBlock > input:nth-of-type(2)::after {
    --color: black;
    --width: 70px;
    --height: 50px;
    --thick: 9px;
    --radius: 10px; 
    height: var(--height);
    width: var(--width);
    border-bottom-left-radius: var(--radius);
    background: 
       radial-gradient(farthest-side at top right, transparent 97%, var(--color) 100%) bottom calc(var(--thick) - 0.5px) left calc(var(--thick) - 0.5px) / calc(var(--thick) * 0.8) calc(var(--thick) * 0.8), 
       radial-gradient(farthest-side, var(--color) 99%, transparent 100%) top left / var(--thick) var(--thick), 
       radial-gradient(farthest-side, var(--color) 99%, transparent 100%) bottom right / var(--thick) var(--thick), 
       linear-gradient(var(--color), var(--color)) left bottom / var(--thick) calc(100% - var(--thick) / 2), 
       linear-gradient(var(--color), var(--color)) left bottom/calc(100% - var(--thick) / 2) var(--thick);
    background-repeat: no-repeat;
    margin-top: -4px;
    transform: translate(-50%, -50%) rotate(-45deg) scale(0.4);
  }
  
  .radioLognInBlock > input:checked::after {
    display: block;
  }
  /*end Radio button - Remember Username */